body {
    background-color: pink;
    background-image: url('rift.png');
    background-size: cover;
}

h1 {
    padding: 30px;
    display: inline-block;
    border: solid;
}

.sign {
    margin: 30px;
}

input {
    background-color: pink;
    border: solid black;
    font-size: calc(25px + 1vw);
}

button {
    background-color: pink;
    font-size: calc(20px + 1vw);
    border: solid black;
    box-shadow: 8px 6px #bf8a93;
}

button:hover {
    transform: translate(2px, 2px);
    box-shadow: 4px 4px #bf8a93;
}

button:active {
    transform: translate(6px, 6px);
    box-shadow: 0px 0px #bf8a93;
}

.bar {
    display: inline-block;
    width: calc(30% - 10px);
    border: solid black;
}

.fromleft {
    margin: 50px 0px;
}

.fromright {
    text-align: right;
    margin: 50px 0px;
}

form {
    position: relative;
    display: inline
}

label {
    font-size: calc(15px + 1vw);
    position: absolute;
    top: calc(-35px - 2vw);
}

p {
    font-size: 30px;
    margin: 2vw;
}

.valid {
    border: 5px solid rgb(32, 122, 174);
}

.invalid {
    border: 5px solid rgb(183, 43, 43);
}